<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
            {%- if site.copyright -%}
            <li>&copy; {{ site.copyright }} {{ 'now' | date: "%Y" }}</li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
          <ul class="contact-list">
              <li class="p-name">
                  <i class="fa fa-file"></i>
                  &nbsp;<a href="https://drive.google.com/file/d/1QDEFhRY_EvALhobYHvrSdvOVSFzq7-BE/">Resume</a>
              </li>
              <li class="p-name">
                  <i class="fa fa-file"></i>
                  &nbsp;<a href="https://drive.google.com/file/d/1jhL4z6MZ_2qjYZeQpf5PBBKZ-EIZ-LbT/">CV</a>
              </li>
          </ul>
      </div>

      <div class="footer-col footer-col-3">
          {%- include social.html -%}
      </div>
    </div>

  </div>

</footer>
